name: vilcas_website
description: Vilcas Mobile Apps Portfolio Website
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: ^3.9.2

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.8
  url_launcher: ^6.2.1
  google_fonts: ^6.1.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

flutter:
  uses-material-design: true
  
  assets:
    - assets/logo.png
    - assets/Icon-192.png
    - assets/Icon-512.png
    - assets/forceplan_logo.png
    - assets/rangis_premium_icon_1024.png
    - assets/VilcA.png
    - assets/
